NAME="chatbot"
PASSWORD="bsitc01/"
HOST="localhost"
PORT="4444"
DEEPSEEK_API_KEY="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"
BASE_URL="https://openrouter.ai/api/v1"
GITHUB_KEY="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"